body {
  background-image: url(white-carbon.png);
  background-repeat: repeat;
  color: #091E42;
}

h1 {
  text-align: center;
}

li {
  text-align: center;
}

img{
  float: left;
}

div.jumbotron {
  background-color: rgb(155, 155, 155);
  margin-top: 2%;
}

/* Portfolio Cards */
p.card-text {
  text-align: center;
}

h5 {
  text-align: center;
}

a.btn {
  background-color: rgb(70, 70, 70);
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  align-content: center;
  outline-color: black;
}

/* Psuedo-Classes for Buttons */
a.btn:link {
  color: rgb(255, 255, 255);
}

a.btn:visited {
  color: rgb(255, 255, 255);
}

a.btn:hover {
  color: black;
}

a.btn:active {
  color: black;
}

/* Footer */
footer {
  text-align: center;
  font-size: 8pt;
  color: rgb(201, 201, 201);
  background-color: rgb(50, 50, 50);
  padding: 22px;
}

h6 {
  text-align: center;
}

.card {
  margin-bottom: 1%;
  text-align: center;
}